<div class="table-responsive user_list_div tableFixHead">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User Name</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email</th>
				<th>Share Location</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |obj| %>
			<tr>
				<td><%=obj['username']%></td>
				<td><%=obj['first_name']%></td>
				<td><%=obj['last_name']%></td>
				<td><%=obj['email']%></td>
				<td><a href="/<%=obj['username']%>" target="_blank" class="btn btn-info" role="button">Show Public Share Location</a></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>